* {
    margin: 0;
    padding: 0;
    font: "Poppings","serif";
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
    padding: 10px 0px;
}

.todo-box{
    background: #1e293b;
    padding: 30px;
    border-radius: 16px;
    width: 365px;
    transition: 0.3s;
    box-shadow: 0 0 25;
}

.todo-box :hover {
    transform: translate(-3px);
}

h2 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
+ma touche personnelle 
.inputTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #334155;
    border-radius: 10px;
    overflow: hidden;
}

input {
    padding: 12px 16px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    padding: 13px 17px;
    font-size: 15px;
    background: #5085cf;
    color: #fff;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

ul {
    margin-top: 20px ;
    list-style: none;
    max-height: 250px
}
li {
    background: #334155;
    display: flex;
    justify-content: space-between;
    padding: 15px 17px;
    margin-bottom: 10px;
    border-radius: 16px;
    font-size: 15px;
    color: #fff;
}

li.done {
    text-decoration: line-through;
    opacity: 0.6;
    transform: scale(0.98);
}
span {
    color: rgb(239, 46, 184);
    font-size: 15px;
    font-weight: bold;
}
